.normal {
  color: gray;
  font-size: 48pt;
  height: 100px;
}

.edit {
  position: absolute;
  top: 0.5rem;
  right: 0;
  cursor: pointer;
}

.structure {
  white-space: pre-wrap
}

.indicator {
  border: 0!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  padding-right: 0px!important;
}
